.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;

  @media (min-width: 768px) {
    padding-top: 9rem;
    padding-bottom: 6rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &-heading {
    font-weight: 300;
  }

  .container {
    max-width: 40rem;
  }
}
