{% extends '/templates/layouts/base.twig' %}

{% block content %}

<main role="main">

  <div class="container mt-5">
    <div class="row">
      <div class="col-12"><h1>{{ title }}</h1></div>
    </div>
  </div>

  {% include '/templates/components/albums/list.twig' with { params: album } %}

</main>

{% endblock %}
