{% extends '/templates/layouts/base.twig' %}

{% block content %}

<main role="main">

  {% include '/templates/components/carousel.twig' %}

  {% include '/templates/components/features.twig' %}

</main>

{% endblock %}
