{#
  Album Item

  @param {string} image
  @param {string} text
  @param {string} view
  @param {string} edit
  @param {string} time (Optional)
#}

{# Parameters #}

{# Variables #}

{# Output #}
<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top" src="{{ manifest(params.image) }}" alt="{{ params.text }}">
    <div class="card-body">
      <h3 class="card-title">{{ params.title }}</h3>
      <p class="card-text">{{ params.text }}</p>
    </div>
  </div>
</div>
