{#
  List of Album items

  @param {array} items
#}

{# Parameters #}

{# Variables #}

{# Output #}
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      {% for item in params.items %}
      {% include '/templates/components/albums/item.twig' with { params: item } %}
      {% endfor %}

    </div>

  </div>
</div>
