<div class="container">
  {% for item in features.items %}
  <div class="row featurette">
    <div class="col-md-7 {{ loop.index0 is even ? 'order-md-2' }}">
      <h2 class="featurette-heading">{{ item.title }}</h2>
      <p class="lead">{{ item.text }}</p>
    </div>
    <div class="col-md-5 {{ loop.index0 is even ? 'order-md-1' }}">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ item.image }}">
    </div>
  </div>

  {% if not loop.last %}
  <hr class="featurette-divider">
  {% endif %}

  {% endfor %}
</div>
