<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="" name="description">

  {#<title>{{ post.title }}</title>#}

  <link href="{{ manifest('assets/css/app.css') }}" rel="stylesheet"></noscript>

  {{ function('wp_head') }}

  <script type="module" src="{{ manifest('assets/js/vendors.js') }}" defer></script>
  <script type="module" src="{{ manifest('assets/js/app.js') }}" defer></script>

  <script nomodule src="{{ manifest('assets/js/vendors-legacy.js') }}" defer></script>
  <script nomodule src="{{ manifest('assets/js/app-legacy.js') }}" defer></script>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Umbraco Test</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api.html">Api</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

  {% block content %}{% endblock %}

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">{{ footer.back_to_top }}</a>
      </p>
      <p>Umbraco</p>
      <p>&copy; 2019 Don't forget to make this text editable!</p>
    </div>
  </footer>

  {{ function('wp_footer') }}

</body>

</html>
